.App {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    color: #333;
}

.App-logo {
    height: 100px;
}

.App-header {
    border-bottom: 1px dashed #EEE;
    margin-bottom: 20px;
}

.App-intro {
    margin-top: 10px;
    padding-top: 15px;
    font-size: large;
    border-top: 1px dashed #EEE;
}

.App-instruction {
    margin: auto;
    width: 330px;
    text-align: left;
    padding-top: 15px;
    font-size: medium;
}

.App-instruction > div > code {
    display: inline-block;
    width: 140px;
    text-align: right;
    padding-right: 20px;
}

.App-navigation {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

.App-navigation li {
    padding: 10px;
}

.App-navigation li a {
    text-decoration: none;
    color: #ff52bf;
    font-weight: 600;
}

.App-navigation li a:hover {
    color: #ff6dc7;
}
